body {
  margin: 0;
}
a {
  color: black;
  text-decoration: none;
}
button {
  background-color: #c18e00;
  color: white;
  padding: 8px;
  margin: 8px;
}
button:hover {
  background-color: #a97700;
}
.navbar {
  background-color: #c18e00;
}
.hero {
  background-color: #1e1e1e;
}
.hero img {
  max-width: 48%;
}
h1 span {
  color: #c18e00;
}

.program {
  background-color: #d3d3d3;
}
#tentang,
#program {
  scroll-margin-top: 56px;
}
.kontak {
  background-color: #1e1e1e;
  color: white;
}
.kontak ul li {
  list-style: none;
  line-height: 1.6;
}

footer {
  background-color: #1e1e1e;
  padding: 8px;
}
